body{
    background-color: aqua;
    /* display: flex;
   
    align-items: center;
    justify-content: center; */

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: top 50px; 
}
input{
    height: 20px;
}
.formele{
    width: 50%;
    /* margin: 100px; */
}